# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CollectionTest/CollectionTest/.vs/CollectionTest/v15
/CollectionTest/CollectionTest/CollectionTest/x64/Debug/CollectionTest.tlog/link-cvtres.read.1.tlog
*.tlog
*.idb
*.pdb
*.exp
*.suo
*.db
